@import url('//fonts.googleapis.com/css?family=Raleway:400,800');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.clearfix::before {
  content: "";
  display: table;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Raleway';
  line-height: 1.55;
  color: #737373;
  font-weight: 400;
}

body a {
  color: #22ada9;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

body a:hover {
  border-color: #e5e5e5;
}

code {
  background: #fff;
  color: #989898;
  padding: 2px 8px;
}

.header2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #1d9b96;
  border-bottom: 1px solid #1d9b96;
  letter-spacing: 4px;
  padding: 12px 0;
  background: #ebebeb;
}

.wrap {
  max-width: 48em;
  margin: 0 auto;
  padding: 2.5em 0 4em;
}

.row::after {
  clear: both;
}

.row.last {
  border-bottom: 1px solid #ebebeb;
}

section {
  position: relative;
  padding: 30px 20px;
  width: 50%;
  min-height: 12em;
  float: left;
  background: #e5e5e5;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}

section:nth-child(even) {
  border-right: 1px solid #ebebeb;
}

section.item-incorrect {
  background: #e7e7e7;
}

section.item-incorrect::before {
  position: absolute;
  z-index: 399;
  bottom: 0;
  right: 0;
  content: "";
  /* height: 10px; */
  /* width: 10px; */
  /* border: 35px solid; */
  /* border: 2px; */
  /* border-color: transparent lighten(#ff383e,7%) lighten(#ff383e,7%) transparent; */
}

section.item-incorrect::after {
  position: absolute;
  z-index: 499;
  content: "\f00d";
  font-family: 'FontAwesome';
  line-height: 1.4;
  bottom: 0;
  right: 7px;
  font-size: 1.9em;
  color: #ff383e;
}

section.item-correct::before {
  position: absolute;
  z-index: 399;
  bottom: 0;
  right: 0;
  content: "";
  /* height: 0;
  width: 0;
  border: 35px solid; */
  /* border-color: transparent lighten(#2dceb1,7%) lighten(#2dceb1,7%) transparent; */
}

section.item-correct::after {
  position: absolute;
  z-index: 499;
  content: "\f00c";
  font-family: 'FontAwesome';
  line-height: 1.4;
  bottom: 0;
  right: 7px;
  font-size: 1.9em;
  color: #2dceb1;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

input[type="radio"] + label {
  background: #fff;
  display: inline-block;
  padding: 5px 15px;
  margin: 5px 10px 5px 0;
  border: 1px solid #ebebeb;
  transition: all 0.1s linear;
}

input[type="radio"] + label::before {
  content: "\f10c";
  font-family: 'fontawesome';
  margin-right: 7px;
  color: #2dceb1;
}

input[type="radio"]:hover + label {
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background: #f3f8f8;
  color: #1d9b96;
}

input[type="radio"]:checked + label::before {
  content: "\f192";
  color: #1d9b96;
}

.question {
  font-weight: bold;
}

.submit button {
  display: block;
  outline: none;
  width: 300px;
  margin: 1em auto 1.5em;
  padding: 0.8em 1em;
  background: #ededed;
  color: #ededed;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid #ebebeb;
}

#emc-score {
  text-align: center;
  opacity: 0;
  padding: 0;
  transition: all 0.55s ease;
}

#emc-score.new-score {
  opacity: 1;
  background: #2dceb1;
  color: #fff;
  padding: 20px;
}

#emc-submit {
  position: relative;
  transition: all 0.33s ease;
}

#emc-submit.ready-show {
  background: #2dceb1;
  color: #fff;
  border: none;
  border-bottom: 2px solid #1d9b96;
  box-shadow: 0 1px 1px rgba(#444, 0.2);
  transform: rotateX(360deg);
}

#emc-submit.ready-show:hover {
  color: #fff;
  background: #22ada9;
  border-color: #1d9b96;
}

#emc-submit.ready-show:active {
  top: 2px;
  border-bottom: none;
}

#emc-progress {
  height: 100%;
  border: 1px solid #1d9b96;
  background: #2dceb1;
}

#emc-progress_inner {
  width: 100%;
  height: 0;
  background: #1d9b96;
  transition: height 0.33s ease-in-out;
}

#emc-progress_ind {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 0.7em;
  font-weight: bold;
  padding: 7px 5px 5px;
  top: 0;
  left: 0;
  text-align: center;
  color: #1d9b96;
}

footer {
  position: fixed;
  width: 40px;
  height: 100%;
  background: rgba(251, 251, 251, 0.85);
  bottom: 0;
  left: 0;
  padding: 25px 12px 10px;
}

.attrib {
  padding: 10px 0;
  text-align: center;
}

.attrib i {
  margin-right: 7px;
  margin-left: 7px;
}
