<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='demo.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1 class="header__title">SmartPrep</h1>
        <nav class="navbar">
            <div class="items"></div>
            <ul>
                <li><a href="/home"><span style="color: #5B0888;">Home</span></a></li>
                <li><a href="/question"><span style="color: #5B0888;">Question Bank</span></a></li>
                <li><a href="/test"><span style="color: #5B0888;">Test YourSelf</span></a></li>
                <li><a href="/demo"><span style="color: #5B0888;">Demo Videos</span></a></li>
                <li><a href="/about"><span style="color: #5B0888;">Why SmartPrep?</span></a></li>
            </ul>
            </div>
        </nav>
    </header>
