<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Bank</title>
    <!-- <link rel="stylesheet" href="mostcom.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='mostcom.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1 class="header__title">SmartPrep</h1>
        <nav class="navbar">
            <div class="items"></div>
            <ul>
                <li><a href="/home"><span style="color: #5B0888;">Home</span></a></li>
                <li><a href="/question"><span style="color: #5B0888;">Question Bank</span></a></li>
                <li><a href="/test"><span style="color: #5B0888;">Test YourSelf</span></a></li>
                <li><a href="/demo"><span style="color: #5B0888;">Demo Videos</span></a></li>
                <li><a href="/about"><span style="color: #5B0888;">Why SmartPrep?</span></a></li>
            </div>
        </nav>
    </header>
        <div class="head">
            <h3>Category: Most Common</h3>
        </div>
        <div class="questions"> 
            <h4>Can you share an instance where you had to take a leadership role even when it wasn't formally your responsibility? What was the outcome?</h4>
            <p><span style="font-weight: bold;">Example Answer: </span>During my last role at XYZ company, I was part of a project where our team lead had to take an unexpected leave. I saw this as an opportunity and stepped up to fill the role. I communicated with my supervisor to clarify expectations and deadlines, organized regular meetings for the team, and made sure everyone was on track with their tasks. I also worked hard to foster a supportive and communicative environment. As a result, we completed the project successfully and on time. This experience confirmed my desire to transition into a management role.</p>
        </div>
        <div class="questions"> 
            <h4>Tell me about a time when you had to deal with a difficult team member. How did you handle it?</h4>
            <p><span style="font-weight: bold;">Example Answer: </span> a previous role, there was a colleague who was consistently not meeting deadlines. I approached them privately to discuss the issue. During our conversation, I listened to their concerns, and we collaboratively developed a plan to manage their workload more effectively. By addressing the issue proactively and constructively, we were able to improve the team's overall productivity and maintain a positive working relationship.</p>
        </div>
        <div class="questions"> 
            <h4>Describe a situation where you made a significant mistake at work. How did you handle it?</h4>
            <p><span style="font-weight: bold;">Example Answer: </span>During my internship at XYZ Corp., I had to balance multiple responsibilities - regular coursework, a significant project, and my daily internship duties. I used time management and prioritization techniques to manage the workload. I planned my tasks for each day, setting specific goals and deadlines. I also prioritized tasks based on their urgency and importance. By organizing and managing my time effectively, I was able to successfully complete all my responsibilities.</p>
        </div>
        <div class="questions"> 
            <h4>Can you provide an example of a time when you had to balance multiple tasks or projects at once? How did you prioritize your work?</h4>
            <p><span style="font-weight: bold;">Example Answer: </span>In a previous project, I had a differing viewpoint with a team member regarding our marketing strategy. I believed we should focus more on social media while they favored traditional methods. Instead of insisting on my perspective, I collected data to demonstrate the potential reach and effectiveness of social media marketing. By providing evidence and outlining the benefits, I was able to persuade them to try my proposed strategy. The campaign was a success, leading to an increase in our target demographic engagement.</p>
        </div>
</body>
</html>
