<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

</head>
<body>
    <style>
        body{
    margin:0;
    font-family: 'Inter', sans-serif;
}
.header{
    /* margin: 0 6rem; */
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    /* background-color: put; */
    /* color: rgb(175, 42, 175); */
    /* position: fix; */
}
.header__title{
    color:  #5B0888;
    font-family: 'Raleway', sans-serif;
}
/* .header__registered{
    line-height: 1.5rem;
    font-size: 20pxpx;
    color: #fff
    letter-spacing: 1px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 15px; 
} */
/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* .navbar a{
    color: #5B0888;
    font-size: 15px;
    font-weight: 290;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
}
.navbar a:hover {
    cursor: pointer;
    transition: all 0.3s ease-out;
} */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* a:link{
    /* color: rgb(185, 52, 185); */
    /* background-color: pink; */
    /* color: black; */
/* } */
/* li:hover{
    /* sca */
    /* transform: scale(1.25); */
/* } */ 
/* a:active{
    color: pink;
} */
/* a:visited{
    color: blue;
} */
.navbar li{
    font-family: 'Raleway', sans-serif;
    list-style: none;
    display: inline;
    margin: 1rem;
    text-align: center;
}
.navbar ul{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    line-height: 5rem;
    margin: 0;
}
/* Compulsory */
/* general classes */
.bg-dark{
    background-color: #5B0888;
    color: white;
    border-radius: 50px;
}
a{
    text-decoration: none;
}

main {
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    flex-direction: column;
}

.sub-heading {
    font-size: 28px;
    margin: 32px 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 8px;
    padding: 16px;
}

#question {
    background-color: rgb(219, 234, 254);
}

button {
    background-color: #5B0888;
    color: white;
    border-radius: 4px;
    text-transform: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow: none;
    font-size: 16px;
    border-width: 0px;
}

#btn-random-question {
    margin-top: 32px;
    align-self: center;
    padding: 8px 32px;
    position: relative;
}

.step-heading {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
}

.step-description {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
}

.audio-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#btn-record-answer {
    padding: 8px 16px;
    margin: 0;
}

.transcript-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.step-subheading {
    margin: 0;
}

#text-transcript {
    resize: vertical;
    border-width: 1px;
    height: 90px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

#text-transcript:focus {
    outline-color: #5B0888;
}

#btn-get-feedback {
    padding: 8px 32px;
    align-self: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

.statistics {
    background-color: rgb(211 211 211 / 50%);
    border-radius: 4px;
}

.statistics ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 16px;
    overflow: hidden;
}

.statistics li::marker{
    font-size: 20px;
    color: red;
}
    </style>
    <header class="header">
        <h1 class="header__title">SmartPrep</h1>
        <nav class="navbar">
            <div class="items"></div>
            <ul>
                <li><a href="/home"><span style="color: #5B0888;">Home</span></a></li>
                <li><a href="/question"><span style="color: #5B0888;">Question Bank</span></a></li>
                <li><a href="/test"><span style="color: #5B0888;">Test YourSelf</span></a></li>
                <li><a href="/demo"><span style="color: #5B0888;">Demo Videos</span></a></li>
                <li><a href="/about"><span style="color: #5B0888;">Why SmartPrep?</span></a></li>
            </ul>
        </div>
        </nav>
    </header>

    <main>
        <!-- questions taken from http://davidshariff.com/quiz/ -->
<header class="header2">
  <small>Multiple Choice Quiz w/ jQuery</small>
</header>
<div id="emc-score"></div>
<div class="wrap">
  <div class="row">
  <section data-quiz-item>
    <i class="fa fa-bandcamp"></i>
    <div class="question">Are CSS property names case-sensitive?<br>Ex: <code>baCkgRouNd: #333;</code></div>
    <div class="choices" data-choices='["Yes","No"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Does setting <code>margin-top:</code> and <code>margin-bottom:</code> have an affect on an inline element?</div>
    <div class="choices" data-choices='["Yes","No"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">The <code>translate()</code> function can move the position of an element on the z-axis.</div>
    <div class="choices" data-choices='["True","False"]'>
    </div>
  </section>
   <section data-quiz-item>
     <div class="question">The pseudo class <code>:checked</code> will select inputs with type radio or checkbox, but not option elements.</div>
    <div class="choices" data-choices='["True","False"]'>
    </div>
  </section>
  </div>
   <div class="row">
  <section data-quiz-item>
    <div class="question">Does setting <code>padding-top:</code> and <code>padding-bottom:</code> on an inline element add to its dimensions?</div>
    <div class="choices" data-choices='["Yes","No"]'>
    </div>
  </section>
   <section data-quiz-item>
     <div class="question">If you have a <code>p</code> element with <code>font-size: 10rem;</code>, will the text be responsive when the user resizes / drags the browser window?</div>
    <div class="choices" data-choices='["Yes","No"]'>
    </div>
  </section>
  </div>
   <div class="row last">
  <section data-quiz-item>
    <div class="question">In a HTML document, the pseudo class <code>:root</code> always refers to the html element.</div>
    <div class="choices" data-choices='["True","False"]'>
    </div>
  </section>
   <section data-quiz-item>
    <div class="question">The formula context/target = result is useful when building responsive layouts.</div>
    <div class="choices" data-choices='["True","False"]'>
    </div>
  </section>
  </div>
  <div class="submit">
  <button id="emc-submit">Submit Answers</button>
  </div>
</div>

<footer>
<div id="emc-progress"></div>
</footer>
<div class="attrib">
  <p>Take the full quiz <i class="fa fa-long-arrow-right"></i> <a href="http://davidshariff.com/quiz/" target="_blank">http://davidshariff.com/quiz/</a></p>
</div>
    </main>
    <!-- <main> -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script>
   (function($) {
  $.fn.emc = function(options) {
    
    var defaults = {
      key: [],
      scoring: "normal",
      progress: true
    },
    settings = $.extend(defaults,options),
    $quizItems = $('[data-quiz-item]'),
    $choices = $('[data-choices]'),
    itemCount = $quizItems.length,
    chosen = [],
    $option = null,
    $label = null;
    
   emcInit();
    
   if (settings.progress) {
      var $bar = $('#emc-progress'),
          $inner = $('<div id="emc-progress_inner"></div>'),
          $perc = $('<span id="emc-progress_ind">0/'+itemCount+'</span>');
      $bar.append($inner).prepend($perc);
    }
    
    function emcInit() {
      $quizItems.each( function(index,value) {
      var $this = $(this),
          $choiceEl = $this.find('.choices'),
          choices = $choiceEl.data('choices');
        for (var i = 0; i < choices.length; i++) {
          $option = $('<input name="'+index+'" id="'+index+'_'+i+'" type="radio">');
          $label = $('<label for="'+index+'_'+i+'">'+choices[i]+'</label>');
          $choiceEl.append($option).append($label);
        	
          $option.on( 'change', function() {
            return getChosen();
          }); 
        }
      });
    }
    
    function getChosen() {
      chosen = [];
      $choices.each( function() {
        var $inputs = $(this).find('input[type="radio"]');
        $inputs.each( function(index,value) {
          if($(this).is(':checked')) {
            chosen.push(index + 1);
          }
        });
      });
      getProgress();
    }
    
    function getProgress() {
      var prog = (chosen.length / itemCount) * 100 + "%",
          $submit = $('#emc-submit');
      if (settings.progress) {
        $perc.text(chosen.length+'/'+itemCount);  
        $inner.css({height: prog});
      }
      if (chosen.length === itemCount) {
        $submit.addClass('ready-show');
        $submit.click( function(){
          return scoreNormal();
        });
      }
    }
    
    function scoreNormal() {
      var wrong = [],
          score = null,
          $scoreEl = $('#emc-score');
      for (var i = 0; i < itemCount; i++) {
        if (chosen[i] != settings.key[i]) {
          wrong.push(i);
        }
      }
      $quizItems.each( function(index) {
        var $this = $(this);
        if ($.inArray(index, wrong) !== -1 ) {
        	$this.removeClass('item-correct').addClass('item-incorrect');
        } else {
          $this.removeClass('item-incorrect').addClass('item-correct');
        }
      });
      
      score = ((itemCount - wrong.length) / itemCount).toFixed(2) * 100 + "%";
      $scoreEl.text("You scored a "+score).addClass('new-score');
      $('html,body').animate({scrollTop: 0}, 50);
    }
 
  }
}(jQuery));


$(document).emc({
  key: ["2","1","2","2","2","2","1", "1"]
});

   </script>
</body>
</html>